confdir {{ chrony_confdir }}

{% for source in chrony_sources %}
{% if source.location not in [ansible_hostname, ansible_fqdn] and source.location not in ansible_all_ipv4_addresses%}
{{ source.type }} {{ source.location }}{% if "key" in source %} key {{ source.key }}{% endif %}{% if source.prefer|default(false) %} prefer{% endif %}{% if source.iburst|default(false) %} iburst{% endif %}{% if source.trust|default(false) %} trust{% endif %}{% if "minpoll" in source %} minpoll {{ source.minpoll }}{% endif %}{% if "maxpoll" in source %} maxpoll {{ source.maxpoll }}{% endif %}

{% endif %}
{% endfor %}

sourcedir {{ chrony_sourcedir }}

keyfile {{ chrony_keyfile }}

driftfile {{ chrony_driftfile }}

ntsdumpdir {{ chrony_ntsdumpdir }}

logdir {{ chrony_logdir }}

maxupdateskew {{ chrony_maxupdateskew }}
{% if chrony_rtcsync %}

rtcsync
{% endif %}

makestep {{ chrony_makestep.max_slew }} {{ chrony_makestep.update_limit }}

leapsectz {{ chrony_leapsectz }}

bindaddress {{ chrony_bindaddress }}
{% for allow in chrony_allow %}
allow {{ allow }}
{% endfor %}
