[Unit]
Description=Visual Studio Code Web Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/share/code/bin/code-tunnel serve-web --host 127.0.0.1 --port {{ devbox_server_port }} --without-connection-token --accept-server-license-terms --cli-data-dir /home/home.brwyatt.net/brwyatt/.vscode/cli
User=brwyatt

[Install]
WantedBy=multi-user.target
