---
- name: Manage Jellyfin repo
  ansible.builtin.include_role:
    name: jellyfinrepo
- name: Add Jellyfin user to local groups
  ansible.builtin.user:
    name: jellyfin
    append: true
    groups:
      - video
      - render
- name: Setup Bind mounts
  # Need to add this here... AFTER the users are created...
  # ... but before anything else
  ansible.builtin.include_role:
    name: bindfs
