---
- name: Manage Jellyfin repo
  ansible.builtin.include_role:
    name: jellyfinrepo
- name: Manage Jellyfin group
  ansible.builtin.group:
    name: jellyfin
    gid: 112
    state: present
- name: Manage Jellyfin user
  ansible.builtin.user:
    name: jellyfin
    uid: 109
    group: jellyfin
    create_home: false
    home: /var/lib/jellyfin
    shell: /bin/bash
