---
- name: Manage Jellyfin repo
  ansible.builtin.include_role:
    name: jellyfinrepo
- name: Manage Jellyfin group
  ansible.builtin.group:
    name: jellyfin
    gid: 112
    state: present
- name: Manage media group
  ansible.builtin.group:
    name: media
    gid: 1001
    state: present
- name: Manage Jellyfin user
  ansible.builtin.user:
    name: jellyfin
    uid: 109
    group: jellyfin
    append: true
    groups: media
    create_home: false
    home: /var/lib/jellyfin
    shell: /bin/bash
- name: Setup Bind mounts
  # Need to add this here... AFTER the users are created...
  # ... but before anything else
  ansible.builtin.include_role:
    name: bindfs
