# Path to keytab file
keytab = "{{ mokey_keytab_path }}"

# Secret key for branca tokens. Must be 32 bytes. To generate run:
#    openssl rand -hex 32 
token_secret = "{{ mokey_token_secret }}"

# CSRF token secret key. Should be a random string
csrf_secret = "{{ mokey_csrf_secret }}"
