[
  {server, [
    {cacertfile, "{{ rabbitmq_distribution_ca_cert_path }}"},
    {certfile,   "{{ rabbitmq_distribution_cert_path }}"},
    {keyfile,    "{{ rabbitmq_distribution_key_path }}"},
    {secure_renegotiate, true},
    {verify, verify_peer},
    {fail_if_no_peer_cert, true}
  ]},
  {client, [
    {cacertfile, "{{ rabbitmq_distribution_ca_cert_path }}"},
    {certfile,   "{{ rabbitmq_distribution_cert_path }}"},
    {keyfile,    "{{ rabbitmq_distribution_key_path }}"},
    {secure_renegotiate, true},
    {verify, verify_peer}
  ]}
].
