# Defaults to rabbit. This can be useful if you want to run more than one node
# per machine - RABBITMQ_NODENAME should be unique per erlang-node-and-machine
# combination. See the clustering on a single machine guide for details:
# http://www.rabbitmq.com/clustering.html#single-machine
#NODENAME=rabbit

# By default RabbitMQ will bind to all interfaces, on IPv4 and IPv6 if
# available. Set this if you only want to bind to one network interface or#
# address family.
#NODE_IP_ADDRESS=127.0.0.1

# Defaults to 5672.
#NODE_PORT=5672
{% if rabbitmq_use_long_names %}

# Use long names (FQDN)
RABBITMQ_USE_LONGNAME=true
{% endif %}
{% if rabbitmq_use_tls_distribution %}

# Enable TLS for cluster Distribution
SERVER_ADDITIONAL_ERL_ARGS="-proto_dist inet_tls
  -ssl_dist_optfile {{ rabbitmq_inter_node_tls_config_file }}"
RABBITMQ_CTL_ERL_ARGS="-proto_dist inet_tls
  -ssl_dist_optfile {{ rabbitmq_inter_node_tls_config_file }}"
{% endif %}
