# RabbitMQ Configuration

cluster_name = {{ rabbitmq_cluster_name }}

# Non-TLS Listeners
listeners.tcp.default = 5672

# TLS Listeners
listeners.ssl.default = 5671

ssl_options.cacertfile = {{ rabbitmq_ca_cert_path }}
ssl_options.certfile   = {{ rabbitmq_cert_path }}
ssl_options.keyfile    = {{ rabbitmq_key_path }}
ssl_options.verify     = verify_peer
ssl_options.fail_if_no_peer_cert = false
{% if rabbitmq_use_tls_distribution %}

# TLS distribution
ssl_dist_opts.server.cacertfile = {{ rabbitmq_ca_cert_path }}
ssl_dist_opts.server.certfile = {{ rabbitmq_cert_path }}
ssl_dist_opts.server.key = {{ rabbitmq_key_path }}
ssl_dist_opts.server.verify = verify_peer
ssl_dist_opts.server.fail_if_no_peer_cert = true

ssl_dist_opts.client.cacertfile = {{ rabbitmq_ca_cert_path }}
ssl_dist_opts.client.certfile = {{ rabbitmq_cert_path }}
ssl_dist_opts.client.key = {{ rabbitmq_key_path }}
ssl_dist_opts.client.verify = verify_peer
{% endif %}

# Management UI
management.tcp.port = 15672
management.tcp.ip   = 0.0.0.0

management.ssl.port       = 15671
management.ssl.cacertfile = {{ rabbitmq_ca_cert_path }}
management.ssl.certfile   = {{ rabbitmq_cert_path }}
management.ssl.keyfile    = {{ rabbitmq_key_path }}
