---
- name: Install SSHPass
  ansible.builtin.apt:
    name: sshpass
- name: SSH dir
  when: acmecertpusher_ssh_key is defined and acmecertpusher_ssh_key != ''
  ansible.builtin.file:
    path: "/root/.ssh"
    owner: root
    group: root
    mode: '0700'
    state: directory
- name: SSH key
  when: acmecertpusher_ssh_key is defined and acmecertpusher_ssh_key != ''
  ansible.builtin.copy:
    dest: "/root/.ssh/{{ acmecertpusher_ssh_key_name }}"
    owner: root
    group: root
    mode: '0600'
    content: "{{ acmecertpusher_ssh_key }}"
- name: Cert host
  loop: "{{ acmecertpusher_hosts | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
  ansible.builtin.include_tasks: "host.yml"
