---
- name: Install SSHPass
  ansible.builtin.apt:
    name: sshpass
- name: Cert host
  loop: "{{ acmecertpusher_hosts | dict2items }}"
  loop_control:
    label: "{{ item[0] }}"
  block:
    - name: SSH hostkey
      ansible.builtin.known_hosts:
        name: "{{ item[0] }}"
        key: "{{ item[0] }} {{ item[1]['ssh_hostkey'] }}"
        state: present
      when: item[1]["method"] == "ssh"
      become: true
    - name: Add SSH deploy hook
      when: item[1]["method"] == "ssh"
      ansible.builtin.template:
        src: ssh-deploy-hook.sh.j2
        dest: "/etc/letsencrypt/renewal-hooks/deploy/{{ item[0] }}-deploy.sh"
        owner: root
        group: root
        mode: '0750'
      vars:
        dest_host: "{{ item[0] }}"
        cert_name: "{{ acmecertpusher_certs[item[1]['cert']][0] }}"
        key_dest: "{{ item[1]['key_dest'] }}"
        cert_dest: "{{ item[1]['cert_dest'] }}"
        user: "{{ item[1]['ssh_user'] }}"
        passwd: "{{ item[1]['ssh_pass'] }}"
        commands: "{{ item[1]['commands'] }}"
      become: true
      notify: Run deploy hooks
