---
- name: Install SSHPass
  ansible.builtin.apt:
    name: sshpass
- name: Cert host
  loop: "{{ acmecertpusher_hosts | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
  block:
    - name: SSH hostkey
      ansible.builtin.known_hosts:
        name: "{{ item.key }}"
        key: "{{ item.key }} {{ item.value['ssh_hostkey'] }}"
        state: present
      when: item.value["method"] == "ssh"
      become: true
    - name: Add SSH deploy hook
      when: item.value["method"] == "ssh"
      ansible.builtin.template:
        src: ssh-deploy-hook.sh.j2
        dest: "/etc/letsencrypt/renewal-hooks/deploy/{{ item.key }}-deploy.sh"
        owner: root
        group: root
        mode: '0750'
      vars:
        dest_host: "{{ item.key }}"
        cert_name: "{{ acmecertpusher_certs[item.value['cert']][0] }}"
        key_dest: "{{ item.value['key_dest'] }}"
        cert_dest: "{{ item.value['cert_dest'] }}"
        user: "{{ item.value['ssh_user'] }}"
        passwd: "{{ item.value['ssh_pass'] }}"
        commands: "{{ item.value['commands'] }}"
      become: true
      notify: Run deploy hooks
