# Other repositories will be made available with the first stable releases.
# See https://forum.proxmox.com for announcements.
Types: deb
URIs: {{ proxmoxdcm_apt_url }}
Suites: {{ proxmoxdcm_apt_suites }}
Components: {{ proxmoxdcm_apt_components }}
Signed-By: {{ proxmoxdcm_apt_key_dest }}
