---
- name: Allow LDAP sub-ID range mappings for LXC containers
  ansible.builtin.lineinfile:
    path: "/etc/{{ item }}"
    line: "root:1579000000:200000"
    regexp: "^root:1579000000:[0-9]+$"
    state: present
  loop_control:
    label: "LDAP range in {{ item }}"
  loop:
    - subuid
    - subgid
- name: Apt proxmox sources
  ansible.builtin.template:
    src: proxmox.sources.j2
    dest: /etc/apt/sources.list.d/proxmox.sources
    owner: root
    group: root
    mode: '0644'
  become: true
  notify: Apt update
- name: Apt ceph sources
  ansible.builtin.template:
    src: ceph.sources.j2
    dest: /etc/apt/sources.list.d/ceph.sources
    owner: root
    group: root
    mode: '0644'
  become: true
  notify: Apt update
- name: Flush handlers
  ansible.builtin.meta: flush_handlers
- name: Install Ceph
  # not installed by default, but it's part of our config
  ansible.builtin.apt:
    name: ceph
    state: present
