map $arg_uuid $ipxe_path_uuid {
    default "";
{% for host in pxeserver_pxe_hosts %}
{% if "uuid" in host %}
    "{{ host.uuid }}" "{{ host.ipxe_path | default('/_iPXE/default.ipxe') }}";
{% endif %}
{% endfor %}
}
map $arg_uuid $ipxe_path_mac {
    default "";
{% for host in pxeserver_pxe_hosts %}
{% if "mac" in host %}
    "{{ host.mac }}" "{{ host.ipxe_path | default('/_iPXE/default.ipxe') }}";
{% endif %}
{% endfor %}
}

map $arg_uuid $kernel_path_uuid {
    default "";
{% for host in pxeserver_pxe_hosts %}
{% if "uuid" in host %}
    "{{ host.uuid }}" "{{ host.kernel_path }}";
{% endif %}
{% endfor %}
}
map $arg_uuid $kernel_path_mac {
    default "";
{% for host in pxeserver_pxe_hosts %}
{% if "mac" in host %}
    "{{ host.mac }}" "{{ host.kernel_path }}";
{% endif %}
{% endfor %}
}

map $arg_uuid $initrd_path_uuid {
    default "";
{% for host in pxeserver_pxe_hosts %}
{% if "uuid" in host %}
    "{{ host.uuid }}" "{{ host.initrd_path }}";
{% endif %}
{% endfor %}
}
map $arg_uuid $initrd_path_mac {
    default "";
{% for host in pxeserver_pxe_hosts %}
{% if "mac" in host %}
    "{{ host.mac }}" "{{ host.initrd_path }}";
{% endif %}
{% endfor %}
}

server {
    listen 80;
    server_name {{ pxeserver_hostname }}; # Or hostname

    root {{ pxeserver_boot_dir }};

    location / {
      return 404;
    }

    location /check {
      return 200 "OK\n";
    }

    location /boot {
        try_files $ipxe_path_uuid $ipxe_path_mac /_iPXE/default.ipxe =404;
        default_type text/plain;
    }

    location /kernel {
        try_files $kernel_path_uuid $kernel_path_mac =404;
        default_type application/octet-stream;
    }

    location /initrd {
        try_files $initrd_path_uuid $kernel_path_mac =404;
        default_type application/octet-stream;
    }
}
