---
- name: Install pre-dependencies
  ansible.builtin.apt:
    pkg:
      - intel-opencl-icd
      - intel-gpu-tools
- name: Manage Jellyfin repo
  ansible.builtin.include_role:
    name: jellyfinrepo
- name: Install ffmpeg
  ansible.builtin.apt:
    name: jellyfin-ffmpeg7
    state: present
  become: true
- name: Manage Jellyfin group
  ansible.builtin.group:
    name: jellyfin
    gid: 112
    state: present
- name: Manage Jellyfin user
  ansible.builtin.user:
    name: jellyfin
    uid: 109
    group: jellyfin
    create_home: false
    home: /var/lib/jellyfin
    shell: /bin/bash
- name: Setup Bind mounts
  # Need to add this here... AFTER the users are created...
  # ... but before anything else
  ansible.builtin.include_role:
    name: bindfs
- name: Create Mount
  ansible.builtin.include_tasks:
    file: mount.yml
