[Unit]
Description=CephFS Mount for {{ item.mount_path }} from {{ item.fs_name }}
{% if cephclient_wait_for_dns %}
After=network-online.target remote-fs.target ceph-mon-wait.service
Wants=network-online.target ceph-mon-wait.service
Requires=ceph-mon-wait.service
{% else %}
After=network-online.target remote-fs.target
Wants=network-online.target
{% endif %}
Conflicts=umount.target

[Mount]
What={{ item.user }}@{{ item.cluster_name|default("") }}.{{ item.fs_name }}={{ item.remote_path|default("/") }}
Where={{ item.mount_path }}
Type=ceph
Options={{ "noexec" if item.noexec|default(False) else "exec" }},_netdev,x-systemd.mount-timeout=5min

[Install]
WantedBy=multi-user.target
