user default off
user admin on >{{ valkey_admin_password }} +@all
user replicator on >{{ valkey_replication_password }} +@replication
{% for user in valkey_users %}
user {{ user.username }} on >{{ user.password }} {{ user.acl }}
{% endfor %}
