###############################################################
#                   Authelia Configuration                    #
###############################################################

server:
  address: 'tcp://{{ authelia_host }}:{{ authelia_port }}/'

theme: 'auto'

log:
  level: {{ authelia_log_level }}

authentication_backend:
  password_change:
    disable: {{ not authelia_password_ss_enabled | default(true) | bool | lower }}
  password_reset:
    disable: {{ not authelia_password_ss_enabled | default(true) | bool | lower }}
  ldap:
    implementation: freeipa
    address: {{ authelia_ldap_url }}
    tls:
      skip_verify: false
    base_dn: {{ authelia_ldap_base_dn }}
    additional_users_dn: cn=users,cn=accounts
    users_filter: "(&(!(memberOf=cn=service-accounts,cn=groups,cn=accounts,{{ authelia_ldap_base_dn }}))({username_attribute}={input}))"
    additional_groups_dn: cn=groups,cn=accounts
    groups_filter: "(member={dn})"
    attributes:
      display_name: displayName
      username: uid
      mail: mail
    user: {{ authelia_ldap_user }}
    password: {{ authelia_ldap_password }}

session:
  name: {{ authelia_session_name }}
  secret: {{ authelia_session_secret }}
  cookies:
    - domain: {{ authelia_session_domain }}
      authelia_url: 'https://auth.home.brwyatt.net'
      same_site: lax
      expiration: {{ authelia_session_expiration }}
      inactivity: {{ authelia_session_inactivity }}
      remember_me: {{ authelia_session_remember_me_duration }}
  redis:
    host: {{ authelia_session_redis_host }}
    port: {{ authelia_session_redis_port }}
    database_index: 0
    username: {{ authelia_session_redis_username }}
    password: {{ authelia_session_redis_password }}
{% if authelia_session_redis_key_prefix is defined %}
    key_prefix: {{ authelia_session_redis_key_prefix | to_json }}
{% endif %}
{% if authelia_session_redis_tls_enabled %}
    tls:
      server_name: {{ authelia_session_redis_host }}
      skip_verify: false
{% endif %}

storage:
  encryption_key: {{ authelia_storage_encryption_key }}
  mysql:
    address: 'tcp://{{ authelia_database_host }}:{{ authelia_database_port }}'
    database: {{ authelia_database_name }}
    username: {{ authelia_database_user }}
    password: {{ authelia_database_password }}

notifier:
{% if authelia_notifier_type | default('filesystem') == 'smtp' %}
  smtp:
    address: 'submission{{ 's' if authelia_notifier_smtp_tls | default(false) else '' }}://{{ authelia_notifier_smtp_host }}:{{ authelia_notifier_smtp_port }}'
    username: {{ authelia_notifier_smtp_username }}
    password: {{ authelia_notifier_smtp_password }}
    sender: {{ authelia_notifier_smtp_sender }}
    identifier: {{ authelia_notifier_smtp_identifier }}
    subject: '[Authelia] {title}'
    startup_check_address: 'test@authelia.com'
{% else %}
  filesystem:
    filename: {{ authelia_config_path }}/notification.txt
{% endif %}

access_control:
  default_policy: deny
  rules:
{% for rule in authelia_access_control_rules %}
    - domain: {{ rule.domain | to_json }}
      policy: {{ rule.policy }}
{% if rule.networks is defined %}
      networks: {{ rule.networks | to_json }}
{% endif %}
{% if rule.resources is defined %}
      resources: {{ rule.resources | to_json }}
{% endif %}
{% if rule.subject is defined %}
      subject: {{ rule.subject | to_json }}
{% endif %}
{% endfor %}

regulation:
  max_retries: 3
  find_time: 2m
  ban_time: 5m

identity_validation:
  reset_password:
    jwt_secret: {{ authelia_jwt_secret }}

{% if authelia_oidc_enabled %}
identity_providers:
{% if authelia_oidc_enabled %}
  oidc:
    hmac_secret: {{ authelia_oidc_hmac_secret }}
    jwks:
      - key_id: 'main'
        algorithm: 'RS256'
        use: 'sig'
        key: |
{{ authelia_oidc_issuer_private_key | indent(10, True) }}
{% if authelia_oidc_issuer_certificate_chain is defined %}
        certificate_chain: |
{{ authelia_oidc_issuer_certificate_chain | indent(10, True) }}
{% endif %}
{% if authelia_oidc_authorization_policies %}
    authorization_policies:
{% for policy_name, policy_details in authelia_oidc_authorization_policies.items() %}
      {{ policy_name }}:
        default_policy: {{ policy_details.default_policy }}
        rules:
{{ policy_details.rules | to_nice_yaml(indent=2) | indent(10, True) }}
{% endfor %}
{% endif %}
    clients:
{% for client_id, client_details in authelia_oidc_clients.items() %}
      - client_id: {{ client_id }}
{% for key, value in client_details.items() %}
        {{ key }}: {{ value | to_json }}
{% endfor %}
{% endfor %}
{% endif %}
{% endif %}
