# Global config
{% if nutserver_ups_maxretry is defined %}
maxretry={{ nutserver_ups_maxretry }}
{% endif %}
{% if nutserver_ups_retrydelay is defined %}
retrydelay={{ nutserver_ups_retrydelay }}
{% endif %}
{% if nutserver_ups_chroot is defined %}
chroot={{ nutserver_ups_chroot }}
{% endif %}
{% if nutserver_ups_driverpath is defined %}
driverpath={{ nutserver_ups_driverpath }}
{% endif %}
{% if nutserver_ups_nowait is defined %}
nowait={{ nutserver_ups_nowait }}
{% endif %}
{% if nutserver_ups_pollinterval is defined %}
pollinterval={{ nutserver_ups_pollinterval }}
{% endif %}

# Shared config
{% if nutserver_ups_maxstartdelay is defined %}
maxstartdelay={{ nutserver_ups_maxstartdelay }}
{% endif %}
{% if nutserver_ups_debug_min is defined %}
debug_min={{ nutserver_ups_debug_min }}
{% endif %}
{% if nutserver_ups_user is defined %}
user={{ nutserver_ups_user }}
{% endif %}
{% if nutserver_ups_group is defined %}
group={{ nutserver_ups_group }}
{% endif %}
{% if nutserver_ups_synchronous is defined %}
synchronous={{ nutserver_ups_synchronous }}
{% endif %}

# UPS config
{% for name, config in (nutserver_ups_upss|default({})).items() %}
{% if not loop.first %}

{% endif %}
[{{ name }}]
{% for key, value in config.items() %}
{{ key }} = {{ value }}
{% endfor %}
{% endfor %}
