---
- name: Get config directory
  ansible.builtin.set_fact:
    config_dir: "{{ aws_creds_file_path | dirname }}"
- name: Create AWS Config directory
  become: true
  ansible.builtin.file:
    path: "{{ config_dir }}"
    state: directory
    mode: "0700"
- name: Set AWS creds for default profile
  become: true
  community.general.ini_file:
    path: "{{ aws_creds_file_path }}"
    mode: "0600"
    state: |-
      {{
        'present'
        if aws_creds_aws_access_key_id is not undefined
        and aws_creds_aws_secret_access_key is not undefined
        else 'absent'
      }}
    no_extra_spaces: true
    section: "default"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
  with_items:
    - {"option": "aws_access_key_id", "value": "{{ aws_creds_aws_access_key_id | default('') }}"}
    - {"option": "aws_secret_access_key", "value": "{{ aws_creds_aws_secret_access_key | default('') }}"}
- name: Set IPA Cert vars
  ansible.builtin.set_fact:
    cert_dir: "{{ config_dir }}/roles-anywhere/certs"
    key_dir: "{{ config_dir }}/roles-anywhere/priv"
    cert_name: "iam-roles-root-default"
    include_roles_anywhere: |-
      {{
        aws_creds_role_arn is not undefined
        and aws_creds_trust_anchor_arn is not undefined
        and aws_creds_profile_arn is not undefined
      }}
- name: IAM Roles Cert
  ansible.builtin.include_role:
    name: ipacert
  vars:
    ipacert_cert_dir: "{{ cert_dir }}"
    ipacert_key_dir: "{{ key_dir }}"
    ipacert_certs:
      "{{ cert_name }}": {}
  when: include_roles_anywhere
- name: Signing helper command
  ansible.builtin.set_fact:
    aws_signing_helper_cmd: |-
      {{
        [
          "/usr/local/bin/aws_signing_helper", "credential-process",
          "--certificate", cert_dir + "/" + cert_name + ".crt",
          "--private-key", key_dir + "/" + cert_name + ".key",
          "--trust-anchor-arn", aws_creds_trust_anchor_arn | default(''),
          "--profile-arn", aws_creds_profile_arn | default(''),
          "--role-arn", aws_creds_role_arn | default(''),
        ] | join(' ')
      }}
- name: AWS Signing Helper
  when: include_roles_anywhere
  block:
    - name: Create staging directory
      ansible.builtin.file:
        path: "{{ aws_creds_signing_helper_staging_dir }}"
        state: directory
        mode: "0755"
    - name: Download aws_signing_helper
      ansible.builtin.get_url:
        url: "{{ aws_creds_signing_helper_download_url }}"
        dest: "{{ aws_creds_signing_helper_staging_dir }}/{{ aws_creds_signing_helper_version }}"
        mode: "0755"
        checksum: "sha256:{{ aws_creds_signing_helper_checksums[aws_creds_signing_helper_version][ansible_architecture | lower] }}"
    - name: Symlink binary to system path
      ansible.builtin.file:
        src: "{{ aws_creds_signing_helper_staging_dir }}/{{ aws_creds_signing_helper_version }}"
        dest: "{{ aws_creds_signing_helper_bin }}"
        state: link
        force: true
- name: Check signing helper can assume role
  become: true
  ansible.builtin.command:
    cmd: "{{ aws_signing_helper_cmd }}"
  register: auth_test
  changed_when: false
  when: include_roles_anywhere
  failed_when: auth_test.rc != 0 or 'AccessKeyId' not in auth_test.stdout
  no_log: true
- name: Set AWS IAM Role helper for default profile
  become: true
  community.general.ini_file:
    path: "{{ aws_creds_file_path }}"
    mode: "0600"
    state: |-
      {{
        'present'
        if include_roles_anywhere
        else 'absent'
      }}
    no_extra_spaces: true
    section: "default"
    option: "credential_process"
    value: "{{ aws_signing_helper_cmd }}"
