---
- name: Install certbot and route53 plugin
  ansible.builtin.apt:
    name:
      - certbot
      - python3-certbot-dns-route53
    state: present
  become: true
- name: Certbot account
  become: true
  certbotaccount:
    email: "{{ certbot_email }}"
- name: "Request certificates using Route53"
  certbotcert:
    state: present
    cert_name: "{{ item[0] }}"
    domains: "{{ item }}"
  loop: "{{ certbot_certs }}"
  loop_control:
    label: "{{ item[0] }}"
  become: true
