---
- name: Install certbot and route53 plugin
  ansible.builtin.apt:
    name:
      - certbot
      - python3-certbot-dns-route53
    state: present
  become: true
- name: Certbot account
  become: true
  account:
    email: "{{ certbot_email }}"
- name: "Request certificates using Route53"
  ansible.builtin.command:
    cmd: "certbot certonly --dns-route53 -d {{ item | join(' -d ') }} --non-interactive --expand"
    creates: "/etc/letsencrypt/live/{{ item[0] }}/fullchain.pem"
  loop: "{{ certbot_certs }}"
  loop_control:
    label: "{{ item[0] }}"
  become: true
