[config]
# Name of the Ceph cluster (usually 'ceph')
cluster_name = {{ cephiscsi_cluster_name }}

# Name of Ceph user (usually 'client.admin')
cluster_client_name = client.{{ cephiscsi_ceph_user }}

# Name of the Ceph RBD pool (default: 'rbd')
pool = {{ cephiscsi_pool }}

# Secure API? (keep it false for homelab to avoid SSL cert headaches between nodes)
api_secure = false

# The list of API endpoints (The IPs of your gateway nodes)
# This allows Node A to talk to Node B to sync config.
trusted_ip_list = {{ cephiscsi_trusted_ips | join(',') }}
