---
- name: Create Client directory
  ansible.builtin.file:
    path: "{{ dffmpeg_base_dir }}/client"
    state: directory
    owner: "{{ dffmpeg_user }}"
    group: "{{ dffmpeg_group }}"
    mode: '0755'
  become: true
- name: Create Client venv and install package
  ansible.builtin.pip:
    name:
      - "{{ dffmpeg_download_dir }}/{{ dffmpeg_common_package | replace('-', '_') }}-{{ dffmpeg_file_version }}-py3-none-any.whl"
      - "{{ dffmpeg_download_dir }}/{{ dffmpeg_client_package | replace('-', '_') }}-{{ dffmpeg_file_version }}-py3-none-any.whl"
    state: present
    virtualenv: "{{ dffmpeg_base_dir }}/client"
    virtualenv_command: python3 -m venv
  become: true
- name: Deploy Client configuration
  ansible.builtin.template:
    src: client.yaml.j2
    dest: "{{ dffmpeg_base_dir }}/client/dffmpeg-client.yaml"
    owner: "{{ dffmpeg_user }}"
    group: "{{ dffmpeg_group }}"
    mode: '0640'
  become: true
- name: Setup dffmpeg_proxy symlink
  ansible.builtin.file:
    src: "{{ dffmpeg_base_dir }}/client/bin/dffmpeg-client"
    dest: /usr/local/bin/dffmpeg
    state: link
  become: true
- name: Setup ffmpeg replacement symlink (optional/configurable)
  ansible.builtin.file:
    src: "{{ dffmpeg_base_dir }}/client/bin/dffmpeg_proxy"
    dest: /usr/local/bin/ffmpeg
    state: link
  become: true
  when: dffmpeg_client_replace_ffmpeg | default(false)
- name: Setup ffprobe replacement symlink (optional/configurable)
  ansible.builtin.file:
    src: "{{ dffmpeg_base_dir }}/client/bin/dffmpeg_proxy"
    dest: /usr/local/bin/ffprobe
    state: link
  become: true
  when: dffmpeg_client_replace_ffmpeg | default(false)
