# default: on
# description: mysqlchk
service mysqlchk
{
        disable = no
        type = UNLISTED
        flags = REUSE
        socket_type = stream
        port = {{ mariadb_clustercheck_port }}
        wait = no
        user = nobody
        server = /usr/local/bin/clustercheck
        log_on_failure += USERID
        per_source = UNLIMITED
}
