# Managed by Ansible - reverseproxy role
# Map referer and cache-control headers to bypass Authelia auth cache
map $http_referer $auth_cache_bypass_referer {
    default 0;
    "~*^https?://{{ reverseproxy_sso_verify_host | regex_escape }}" 1;
}

map $http_cache_control $auth_cache_bypass_cc {
    default 0;
    "~*no-cache" 1;
}

map $http_pragma $auth_cache_bypass_pragma {
    default 0;
    "~*no-cache" 1;
}
