location /authelia {
    internal;
    proxy_pass {{ reverseproxy_sso_verify_url }};
    proxy_set_header X-Original-URL $scheme://$http_host$request_uri;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Host $http_host;
    proxy_set_header X-Forwarded-Uri $request_uri;
    proxy_set_header X-Forwarded-Method $request_method;
    proxy_set_header Content-Length "";
    proxy_pass_request_body off;

    # Caching
    proxy_cache auth_cache;
    proxy_cache_key "$cookie_authelia_session|$http_host$request_uri";
    proxy_cache_valid 200 15m;
    proxy_cache_use_stale error timeout invalid_header http_500 http_502 http_503 http_504;
}
