---
- name: Apply common configurations to all hosts
  hosts: all
  become: true
  roles:
    - role: common
- name: Ceph Clients
  hosts: ceph_clients
  become: true
  roles:
    - role: cephclient
- name: Jellyfin Server
  hosts: jellyfin
  become: true
  roles:
    - role: jellyfin
- name: Renderer
  hosts: renderers
  become: true
  roles:
    - role: renderer
- name: SeedBox
  hosts: seedbox
  become: true
  roles:
    - role: aws_creds
    - role: certbot
- name: NUT Server
  hosts: nutserver
  become: true
  roles:
    - role: nutserver
- name: HomeBox Server
  hosts: homebox
  become: true
  roles:
    - role: homebox
- name: Proxmox Servers
  hosts: proxmox
  roles:
    - role: proxmox
- name: Proxmox Datacenter Manager
  hosts: proxmoxdcm
  roles:
    - role: proxmoxdcm
- name: DFFmpeg Coordinator
  hosts: dffmpeg_coordinators
  roles:
    - role: dffmpeg
- name: PXE Servers
  hosts: pxeservers
  roles:
    - role: pxeserver
    - role: keepalived
- name: Desktops
  hosts: desktops
  roles:
    - role: desktop
- name: NTP Servers
  hosts: ntpservers
  roles:
    - role: keepalived
- name: OpenMediaVault
  hosts: openmediavault
  roles:
    - role: openmediavault
- name: IPA Servers
  hosts: ipaservers
  roles:
    - role: freeipa.ansible_freeipa.ipareplica
      tags: ipa_replica_setup
- name: ACME Cert Pusher
  hosts: acmecertpusher
  roles:
    - role: aws_creds
    - role: certbot
    - role: acmecertpusher
- name: Ceph ISCSI Gateways
  hosts: cephiscsi
  roles:
    - role: cephiscsi
- name: Open Thread Border Router
  hosts: otbr
  roles:
    - role: ot_br
- name: Password Servers
  hosts: sspasswdservers
  become: true
  roles:
    - role: aws_creds
    - role: certbot
    - role: sspasswd
    - role: keepalived
- name: App Proxy Config
  hosts: app_proxy
  roles:
    - role: aws_creds
    - role: certbot
    - role: reverseproxy
- name: RabbitMQ Cluster
  hosts: rabbitmq
  become: true
  roles:
    - role: aws_creds
    - role: certbot
    - role: rabbitmq
- name: MariaDB Galera Cluster
  hosts: mariadb
  become: true
  roles:
    - role: aws_creds
    - role: certbot
    - role: mariadb
- name: Load Balancer hosts
  hosts: loadbalancers
  become: true
  roles:
    - role: aws_creds
    - role: certbot
    - role: haproxy
    - role: keepalived
- name: Inbound Proxies
  hosts: inboundproxies
  roles:
    - role: aws_creds
    - role: certbot
    - role: reverseproxy
    - role: keepalived
